<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
       layout:decorator="layout/layout"
       lang="zh-CN">
    <head></head>
    <body>
        <div id="app" layout:fragment="content">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-common" data-toggle="modal" data-target=".role-modal" >
                        <i class="fa fa-clone"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="box col-xs-12 col-sm-12 col-md-12 col-lg-6" v-for="(role,outterindex) in roles" :key="role.rid">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">{{role.rname}}</h4>
                        </div>
                        <div class="card-body">
                            <form class="forms-sample form-horizontal">
                                <div class="tab-primary">
                                    <ul class="nav nav-pills" role="tablist">
                                        <li class="nav-item">
                                            <a :href="'#nav-pills-' + outterindex + '-1'" class="nav-link active" role="tab" data-toggle="tab">Menus</a>
                                        </li>
                                        <li class="nav-item">
                                            <a :href="'#nav-pills-' + outterindex + '-2'" class="nav-link" role="tab" data-toggle="tab">Permission</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" :id="'nav-pills-' + outterindex + '-1'" >
                                            <div class="control-group" v-if="role.otherMenus.length > 0">
                                                <label class="control-label" :for="'role-menu-' + role.rid"></label>
                                                <div class="controls">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <select data-placeholder="Select Your Menus" v-model="role.menuid" :id="'role-menu-' + role.rid" data-rel="chosen" style="width: 100%;">
                                                                <option v-for="otherMenu in role.otherMenus" :value="otherMenu.id" >{{otherMenu.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-20">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" v-for="(menu,innerindex) in role.sysMenuList">
                                                        <div class="custom-control custom-checkbox m-b-20">
                                                            <input type="checkbox" class="custom-control-input" :id="'checkbox-' + outterindex + '-1' + innerindex"  v-model="menu">
                                                            <label class="custom-control-label" :for="'checkbox-' + outterindex + '-1' + innerindex">{{menu.name}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" :id="'nav-pills-' + outterindex + '-2'" >
                                            <div class="control-group" v-if="role.otherPermissions.length > 0" >
                                                <label class="control-label" :for="'role-permission-' + role.rid"></label>
                                                <div class="controls">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <select data-placeholder="Select Your Permission" v-model="role.permissionid" :id="'role-permission-' + role.rid" data-rel="chosen" style="width: 100%;">
                                                                <option v-for="otherPermission in role.otherPermissions" :value="otherPermission.id" >{{otherPermission.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-20">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" v-for="(permission,innerindex) in role.sysPermissionList">
                                                        <div class="custom-control custom-checkbox m-b-20">
                                                            <input type="checkbox" class="custom-control-input" :id="'checkbox-' + outterindex + '-2' + innerindex"  v-model="permission">
                                                            <label class="custom-control-label" :for="'checkbox-' + outterindex + '-2' + innerindex">{{permission.name}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="role-modal" class="modal fade role-modal modal-danger" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Save/Update</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <form class="form">
                                            <div class="form-row">
                                                <div class="form-group col-12">
                                                    <label for="name">NAME</label>
                                                    <input type="text" class="form-control" id="name" v-model="role.rname">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-common" @click="saveParentMenu()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="foot">
            <script type="text/javascript" th:inline="javascript">
                /*<![CDATA[*/
                var data = [[${data}]];
                var vm = new Vue({
                    el: '#app',
                    data: {
                        roles:data,
                        role:{rid:0, rname:""},
                        roleMap:new Map()
                    },
                    created:function(){},
                    mounted:function(){
                        for(var i in this.roles){
                            var that = this.roles[i];
                            this.roleMap.set('role-menu-' + that["rid"],i);
                            this.roleMap.set('role-permission-' + that["rid"],i);
                            $('#role-menu-' + that["rid"]).select2().on('change', function (e) {
                                var index = vm.roleMap.get($(e.target).attr("id"))
                                axios.post('/api/role/menu/',{
                                    roleid:vm.roles[index].rid,
                                    menuid:$(e.target).val()
                                },{
                                    transformRequest:[
                                        function(data){
                                            return vm.transformRequest(data);
                                        }
                                    ]
                                }).then(response => {
                                    Object.assign(vm.roles[index],response.data.role)
                                }).catch(response => {
                                });
                            });
                            $('#role-permission-' + that["rid"]).select2().on('change', function (e) {
                                var index = vm.roleMap.get($(e.target).attr("id"))
                                axios.post('/api/role/permission/',{
                                    rid:vm.roles[index].rid,
                                    pid:$(e.target).val()
                                },{
                                    transformRequest:[
                                        function(data){
                                            return vm.transformRequest(data);
                                        }
                                    ]
                                }).then(response => {
                                    Object.assign(vm.roles[index],response.data.role)
                                }).catch(response => {
                                });
                            });
                        }
                    },
                    methods: {
                        saveMenu:function(role){
                        }
                    },
                });
                $(function(){
                    $('#role-modal').on('hide.bs.modal', function () {
                        Object.assign(vm.role,{
                            rid:0,
                            rname:"",
                        })
                    });
                });
                /*]]>*/
            </script>
        </div>
    </body>
</html>