<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
       layout:decorator="layout/layout"
       lang="zh-CN">
    <head></head>
    <body>
        <div id="app" layout:fragment="content">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-common" data-toggle="modal" data-target=".role-modal" >
                        <i class="fa fa-clone"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="box col-xs-12 col-sm-12 col-md-12 col-lg-6" v-for="(role,outterindex) in roles" :key="role.rid">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">{{role.rname}}</h4>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"></h4>
                            <div class="tab-primary">
                                <ul class="nav nav-pills" role="tablist">
                                    <li class="nav-item">
                                        <a v-bind:href="'#nav-pills-' + outterindex + '-1'" class="nav-link active" role="tab" data-toggle="tab">Menus</a>
                                    </li>
                                    <li class="nav-item">
                                        <a v-bind:href="'#nav-pills-' + outterindex + '-2'" class="nav-link" role="tab" data-toggle="tab">Permission</a>
                                    </li>

                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" v-bind:id="'nav-pills-' + outterindex + '-1'" >
                                        <div class="p-20">
                                            <form class="forms-sample">
                                                <div class="row">
                                                    <div class="col-md-4" v-for="(menu,innerindex) in role.sysMenuList">
                                                        <div class="custom-control custom-checkbox m-b-20">
                                                            <input type="checkbox" class="custom-control-input" v-bind:id="'checkbox-' + outterindex + '-1' + innerindex"  value="check"  v-model="menu.checked">
                                                            <label class="custom-control-label" v-bind:for="'checkbox-' + outterindex + '-1' + innerindex">{{menu.name}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" v-bind:id="'nav-pills-' + outterindex + '-2'" >
                                        <div class="p-20">
                                            <div class="row">
                                                <div class="col-md-4" v-for="(permission,innerindex) in role.sysPermissionList"><h6>{{permission.name}}</h6></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="role-modal" class="modal fade role-modal modal-danger" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Save/Update</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <form class="form">
                                                <div class="form-row">
                                                    <div class="form-group col-12">
                                                        <label for="name">NAME</label>
                                                        <input type="text" class="form-control" id="name" v-model="role.rname">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-common" @click="saveParentMenu()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="foot">
            <script type="text/javascript" th:inline="javascript">
                /*<![CDATA[*/
                var data = [[${data}]];
                var menus = [[${menus}]];
                var permissions = [[${permissions}]];
                console.log(data);
                console.log(menus);
                console.log(permissions);
                console.log(data);
                for(var i in data){
                    var sysMenuList = data[i]["sysMenuList"];
                    var sysPermissionList = data[i]["sysPermissionList"];
                    for(var j in sysMenuList){
                        sysMenuList[j]["checked"] = false;
                        menu:{
                            for (var k in menus) {
                                if (sysMenuList[j]["id"] === menus[k]["id"]) {
                                    data[i]["sysMenuList"][j]["checked"] = true;
                                    break menu;
                                }
                            }
                        }
                    }

                    for(var j in sysPermissionList){
                        sysPermissionList[j]["checked"] = false;
                        permission:{
                            for (var k in permissions) {
                                if (sysPermissionList[j]["id"] === permissions[k]["id"]) {
                                    data[i]["sysPermissionList"][j]["checked"] = true;
                                    break permission;
                                }
                            }
                        }
                    }
                }
                var vm = new Vue({
                    el: '#app',
                    data: {
                        roles:data,
                        role:{
                            rid:0,
                            rname:"",
                        }
                    },
                    methods: {
                    }
                });
                $(function(){
                    $('#role-modal').on('hide.bs.modal', function () {
                        Object.assign(vm.role,{
                            rid:0,
                            rname:"",
                        })
                    });
                });
                /*]]>*/
            </script>
        </div>
    </body>
</html>